.project-info {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.project-card {
    border: 1px solid #ddd;
    box-sizing: border-box;
    min-width: 16%;
    max-width: 33%;
    position: relative;
    margin-bottom: 10px;
}
.project-card p, .project-card h2 {
    padding-left:10px;
}

.project-card h2 {
    font-size: 1.6em;
}

#project-urls {
    width: 100%;
    min-height: 150px;
}

button.remove-project {
    position: absolute;
    top: 0;
    right: 0;
}
.card-footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.footer {
    height: 150px;
}